@import "./spectre/spectre-icons.scss";
@import "./spectre/spectre-exp.scss";
@import "./spectre/spectre.scss";

$border: 1px solid $primary-color-light;

@import "./modules/upgrade-panel.scss";
@import "./modules/hud.scss";
@import "./modules/crew-panel.scss";
@import "./modules/side-panel.scss";


html,
body,
#app {
  background: #1C1F24; // color: $color;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.heading {
  background: none;
  margin-top: 0;
  border: 0;
  color: $dark-color;
}

.upgrade-panel,
.crew-panel,
.sidebar {
  font-size: 0.6rem;
  margin-top: 4%;
}

#main-window {
  height: 100%;
  width: 100%;
}

.slide-enter-active {
  animation: slide-in .1s;
}

.slide-leave-active {
  animation: slide-in .1s reverse;
}

@keyframes slide-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.text-small {
  font-size: 90%;
}

.sink {
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.off-canvas-overlay{
  display: none!important;
}