.off-canvas-toggle {
  position: relative!important;
  margin-left: 2%;
}

.off-canvas .off-canvas-sidebar {
  background-color:rgba( $primary-color, .4 );
  top: 50px;
  bottom: 10%;
  padding: 0.4%;
  width: 350px;
  overflow: hidden;
}